In [46]:
import pandas as pd

In [47]:
df_caba = pd.read_csv("../datasets/caba 1040.csv")
df_caba

     year   edad  Ambos sexos  Varones  Mujeres
0    2010    0-4       213114   109643   103471
1    2010    5-9       201055   102701    98354
2    2010  10-14       190494    95994    94500
3    2010  15-19       201042    99784   101258
4    2010  20-24       228298   111726   116572
..    ...    ...          ...      ...      ...
646  2040  80-84        90168    32572    57596
647  2040  85-89        61378    19818    41560
648  2040  90-94        34858     9894    24964
649  2040  95-99        14441     3576    10865
650  2040  100 +         5145     1102     4043

[651 rows x 5 columns]

In [48]:
import numpy as np
np.array(df_caba["edad"][0].split("-"), dtype=int)

array([0, 4])

In [49]:
df_caba["edad"] = df_caba["edad"].str.replace("+","")
df_caba["edad"] = df_caba["edad"].apply(lambda row: np.array(row.split("-"), dtype=int)[-1])
# df_caba["edad"] = df_caba["edad"].apply(lambda arr: arr[-1])
df_caba["edad"]

0        4
1        9
2       14
3       19
4       24
      ...
646     84
647     89
648     94
649     99
650    100
Name: edad, Length: 651, dtype: int64